<form>
    <div class="mb-3">
        <label for="NameCategory" class="form-label">Name Category</label>
        <input type="text" class="form-control" id="NameCategory">
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea class="form-control" id="Description" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
