@using XPOS.API.Models;
@model TblCategory

<div class="card body">
    <form asp-action="Create" method="post" id="form-create">
        <div class="mb-3">
            <label for="NamaCategory" class="form-label">Nama Category</label>
            <input type="text" class="form-control" id="NamaCategory" value="@Model.NamaCategory" name="NamaCategory" required minlength="2">
        </div>

        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea class="form-control" id="Description" rows="3" name="Description">@Model.Description</textarea>
        </div>

        <a asp-action="Index" asp-controller="Category" class="btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



<script>
    //$('.toastrDefaultSuccess').click(function () {
    //    toastr.success('Success')
    //});

    $("#form-create").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            NamaCategory: {
                required: true,
                minlength: 2
            },

            Description: "required"
        },
        messages: {
            NamaCategory: {
                required: "Please enter name category",
                minlength: "Name category must consist at least 2 character"
            },

            Description: "Please enter description"

        },

        submitHandler: function (form) {

            var dataForm = $(form).serialize();

            //fungsi ajax

            $.ajax({
                url: "/Category/Create",
                method: "post",
                data: dataForm,
                dataType: "json",
                success: function (respon) {


                    if (respon.dataRespon.success) {
                        $("#modal-default").modal("hide")

                        toastr.success(respon.dataRespon.message)

                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);

                    }
                    else {
                        toastr.error(respon.dataRespon.message)
                    }
                }

            })

        }


    })
</script>



