@{
    ViewData["Title"] = "Home Page";

    string NameCustomer = Context.Session.GetString("NameCustomer");
}

<div class="text-center">
    <h1 class="display-4">Welcome @NameCustomer</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
