@using XPOS_ViewModels;
@model VMProduct

<form asp-action="Edit" method="post">
 

    <div class="Edit">
        <label for="NameProduct" class="form-label">Name Product</label>
        <textarea class="form-control" id="Name Product" rows="3" name="Name Product" @Model.NameProduct
            </textarea>
    </div>

    <a asp-action="Index" asp-controller="Variant" class="btn btn-light">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> 